extends ./layout.jade

block content
    //- * * * * * * * * * * * * * * * * * 
    //- * * * * Main content
    //- * * * * * * * * * * * * * * * * *
    
    section#container
      h1 #{content.title}
      h2 #{content.subtitle}

      todo
      
      .footer
        .help Sources : 
        div
          img.logo-AFP(src="images/svg/afp_logo.svg", alt="logo AFP", width="32", height="12")
        