extends ./layout.jade

block content
    //- * * * * * * * * * * * * * * * * * 
    //- * * * * Main content
    //- * * * * * * * * * * * * * * * * *
    
    section#container.container
      h1 #{content.title}
      h2 #{content.subtitle}

      todo
      
      .row.footer.u-full-width.u-cf
        img.logo-AFP.u-pull-right(src="images/svg/afp_logo.svg", alt="logo AFP", width="32", height="12")
        a.u-pull-left.click-info(href="/", title="")
          span.UI-icon.UI-info