doctype html
html(lang="fr", dir="ltr")
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title STYLES
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")
    meta(name="robots", content="noindex, nofollow")
    meta(itemprop="copyright", content="AFP (agence France Presse)")
    meta(name="author", content="AFP Graphics-team")
    meta(name="description", content="#{caption}")
    meta(name="keywords", content="#{keywords}")
    link(rel="stylesheet", href="styles/styles.css")
    script(type="text/javascript", src="scripts/vendor/modernizr.custom.55890.js")
  body
    section#container.container
      

      p#titres.cat Titres (modules)

        h1.cover
          | Soudan du Sud: discussions à quelques heures de l'ultimatum pour un accord de paix
        .cat-info
          span.cat-note-classname
            | .h1.cover
          span.cat-note
            | Titre grande taille employé sur les covers    


        h1
          | Soudan du Sud: discussions à quelques heures de l'ultimatum pour un accord de paix
        .cat-info
          span.cat-note-classname
            | .h1
          span.cat-note
            | Titre taille standard 


        h2
          | Soudan du Sud: discussions à quelques heures de l'ultimatum pour un accord de paix
        .cat-info
          span.cat-note-classname
            | .h2
          span.cat-note
            | Titre taille moyenne, souvent suivi d'un paragraphe. Convient aux format mobiles avec imagette carrée.


        h3
          | Partager cette infographie
        .cat-info
          span.cat-note-classname
            | .h3
          span.cat-note
            | Petit inter-titre pour chapeauter une section.


      //- * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

      hr
      p#paragraphes.cat Paragraphes

        p.large
          | Selon le quotidien les Nouvelles de Pékin, l'opération d'évacuation, dans un rayon de trois kilomètres autour du site, a été menée par des policiers en armes après la découverte de cyanure de sodium, un composant chimique hautement toxique, sur le site du désastre toujours en proie aux flammes.
        .cat-info
          span.cat-note-classname
            | .large 
          span.cat-note
            | Bloc texte large. Convient aux textes longs.


        p.compact
          | Une forte explosion est survenue à Suruç, une ville proche de la frontière syrienne
        .cat-info
          span.cat-note-classname
            | .compact 
          span.cat-note
            | Bloc texte compact. Convient aux blocs textes où l'espace est restraint.


        p.small
          | Vendredi 13 août 2015, 17:01
          | Selon le quotidien les Nouvelles de Pékin, l'opération d'évacuation, dans un rayon de trois kilomètres autour du site, a été menée par des policiers en armes après la découverte de cyanure de sodium, un composant chimique hautement toxique, sur le site du désastre toujours en proie aux flammes.
        .cat-info
          span.cat-note-classname
            | .small
          span.cat-note
            | Très petit texte, convient aux textes courts ou aux annotations.


        p.help
          | Vendredi 13 août 2015, 17:01
          | Selon le quotidien les Nouvelles de Pékin, l'opération d'évacuation, dans un rayon de trois kilomètres autour du site, a été menée par des policiers en armes après la découverte de cyanure de sodium, un composant chimique hautement toxique, sur le site du désastre toujours en proie aux flammes.
        .cat-info
          span.cat-note-classname
            | .help
          span.cat-note
            | Très petit texte d'annotation, convient aux textes courts ou aux annotations.


      //- * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

      hr
      p#liens.cat Liens

        p 
          a(href="#") La suite
   
      .cat-info
        span.cat-note-classname
          | a
        span.cat-note
          | Couleur de lien standard


      //- * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

      hr
      p#boutons.cat Boutons
        
        p
          button Ok
          button Par catégorie
          button Par genre
          button.icon.UI-icon.UI-info Envoyer
          .cat-info
            span.cat-note-classname
              | button, .button
            span.cat-note
              | Bouton par défaut

        p
          button.lg Ok
          button.lg Par catégorie
          button.lg Par genre
          button.lg.icon.UI-icon.UI-info Envoyer
          .cat-info
            span.cat-note-classname
              | .lg
            span.cat-note
              | Bouton large
        p
          button Inactive
          button.active Active class 
          .cat-info
            span.cat-note-classname
              | .active
            span.cat-note
              | Bouton neutre. Bordure de la couleur du lien au roll over.

        p
          button.discret Union de la gauche
          button.discret.active Union de la gauche
          .cat-info
            span.cat-note-classname
              | .discret
            span.cat-note
              | Bouton discret, utilisé comme toggle électoral
        p
          button.system Rejouer l'animation
          button.system.active Rejouer l'animation
          .cat-info
            span.cat-note-classname
              | .system
            span.cat-note
              | Bouton système, type replay ou full screen


      //- * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

      hr
      p#Onglets.cat Onglets
        
          p
          ul.tab.u-full-width
            li
              a.tab-link.tab-active(href="#") Classement
            li
              a.tab-link(href="#") Comparatif
            li
              a.tab-link(href="#") Prévisions
   
      .cat-info
        span.cat-note-classname
          | .tab-link.tab-active
        span.cat-note-classname
          | .tab-link
        span.cat-note
          | Barre d'onglet pour les modules sur fond crème (panel-grey).




      //- * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

      hr
      p#slider.cat Slider
        
        div.slider
          span.slider-arrow-right.UI-slide-right
          span.slider-arrow-left.UI-slide-left
          div.points-container
            div.point
          div.points-container
            div.point
          div.points-container
            div.point
          div.points-container
            div.point.point-active
          div.points-container
            div.point
          div.points-container
            div.point
          
   
      .cat-info
        span.cat-note-classname
          | .point
        span.cat-note-classname
          | .point.point-active
        span.cat-note
          | Suffixe -active pour highligter l'état actif 


      //- * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

      hr
      p#separateurs.cat Séparateurs

        hr
   
      .cat-info
        span.cat-note-classname
          | hr
        span.cat-note
          | Séparateur

  script(type="text/javascript", src="scripts/vendor/pym.min.js")
  script.
    document.addEventListener("DOMContentLoaded", function(event) {
      var pymChild = new pym.Child();
    });
