### Mac OS X
.DS_Store

### compass
.sass-cache*

### npm bower grunt
bower_components*
.*
php/
src/components/

!.gitignore
!.jshintrc
!.jshintignore

# Temporary Directories
tmp
temp
dists
production

# Node
node_modules/

# Mdp
ftpSecret.json

# Webstorm
.idea

# rep build
build/*
