$font_path: '~assets/fonts/';

@font-face{
  font-family    : 'Source Sans Pro';
  src            : url($font_path +'SourceSansPro-Regular.eot'); /* IE9 Compat; Modes */
  src            : url($font_path +'SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url($font_path +'SourceSansPro-Regular.woff2') format('woff2'), /* Modern Browsers */ url($font_path +'SourceSansPro-Regular.woff') format('woff'); /* Modern Browsers */
  font-style     : normal;
  font-weight    : 400;
  text-rendering : optimizeLegibility;
}

// Use "font-family: $source_sans_pro" in your code.
$source_sans_pro : 'Source Sans Pro', sans-serif;

@font-face{
  font-family    : 'UI essential';
  src            : url($font_path +'UIessential-Normal.eot'); /* IE9 Compat; Modes */
  src            : url($font_path +'UIessential-Normal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url($font_path +'UIessential-Normal.woff2') format('woff2'), /* Modern Browsers */ url($font_path +'UIessential-Normal.woff') format('woff'); /* Modern Browsers */
  font-style     : normal;
  font-weight    : 400;
  text-rendering : optimizeLegibility;
}

.UI-icon{
  font-family: "UI essential";
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  font-size: 16px;
}
.UI-info:before {content:"\2139";}
.UI-twitter:before {content:"\f099";}
.UI-close-alt:before {content:"\2715";}
