@import '~utils/fonts';

$panel-grey-1    : #f6f2f0;
$panel-grey-2    : #d3cdcb;
$panel-grey-3    : #88888a;

$grey-neutral-1  : #e2e2e2;
$grey-neutral-2  : #c6c6c6;
$grey-neutral-3  : #9d9c9b;
$grey-neutral-4  : #868685;
$grey-neutral-5  : #585656;
$grey-neutral-6  : #3c3c3b;

$grey-warm-1     : #e2dbd0;
$grey-warm-2     : #c4bdb5;
$grey-warm-3     : #b1aba4;
$grey-warm-4     : #9b9188;
$grey-warm-5     : #625c55;
$grey-warm-6     : #1b1a18;

$grey-cold-1     : #d1dce3;
$grey-cold-2     : #d0dbe2;
$grey-cold-3     : #b5bfc5;
$grey-cold-4     : #a3acb1;
$grey-cold-5     : #90979c;
$grey-cold-6     : #575e62;
$grey-cold-7     : #181a1b;

$red-alert-1     : #fdebe4;
$red-alert-2     : #ecac94;
$red-alert-3     : #dc664b;
$red-alert-4     : #c9402d;
$red-alert-5     : #b72719;

$red-warm-1      : #f8decf;
$red-warm-2      : #f4a488;
$red-warm-3      : #e88063;
$red-warm-4      : #e26742;
$red-warm-5      : #d84026;

$orange-1        : #f2ddcd;
$orange-2        : #f1c89f;
$orange-3        : #f1c89f;
$orange-4        : #e68748;
$orange-5        : #db641f;

$orange-tahiti-1 : #fce2d0;
$orange-tahiti-2 : #fbcca1;
$orange-tahiti-3 : #f6ac6f;
$orange-tahiti-4 : #f3943e;
$orange-tahiti-5 : #e77c09;

$yellow-sun-1    : #feeed5;
$yellow-sun-2    : #fedda7;
$yellow-sun-3    : #fdd27a;
$yellow-sun-4    : #fabb42;
$yellow-sun-5    : #efad01;

$yellow-butter-1 : #fff2d7;
$yellow-butter-2 : #ffe6ab;
$yellow-butter-3 : #ffe17f;
$yellow-butter-4 : #ffd742;
$yellow-butter-5 : #fecb00;

$green-lemon-1   : #f5f6da;
$green-lemon-2   : #e4eab1;
$green-lemon-3   : #d0d680;
$green-lemon-4   : #c5cb4f;
$green-lemon-5   : #adbc14;

$green-avocado-1 : #f0f5e3;
$green-avocado-2 : #e0e1c5;
$green-avocado-3 : #cccca7;
$green-avocado-4 : #b7b87a;
$green-avocado-5 : #95a251;

$green-jewel-1   : #e0e8de;
$green-jewel-2   : #c0d4bd;
$green-jewel-3   : #9cbf9e;
$green-jewel-4   : #52a06b;
$green-jewel-5   : #038b4a;

$green-soccer-1  : #e1efe2;
$green-soccer-2  : #c1dfc3;
$green-soccer-3  : #9bc597;
$green-soccer-4  : #71b378;
$green-soccer-5  : #3fa04f;

$green-ocean-1   : #e0f0eb;
$green-ocean-2   : #c0e0d6;
$green-ocean-3   : #99c9bd;
$green-ocean-4   : #6bb6a7;
$green-ocean-5   : #2ba391;

$blue-celestial-1: #dfeaf8;
$blue-celestial-2: #bcd9f3;
$blue-celestial-3: #a3cbe5;
$blue-celestial-4: #88badb;
$blue-celestial-5: #41a3ce;

$blue-pacific-1  : #e9f5fd;
$blue-pacific-2  : #c1dff1;
$blue-pacific-3  : #96c9e5;
$blue-pacific-4  : #51afd7;
$blue-pacific-5  : #0096c7;

$blue-matisse-1  : #e3e9f4;
$blue-matisse-2  : #a3c1dd;
$blue-matisse-3  : #5b98c2;
$blue-matisse-4  : #378dbc;
$blue-matisse-5  : #177aac;

$blue-chatham-1  : #d8e3ea;
$blue-chatham-2  : #abbed1;
$blue-chatham-3  : #85a7c2;
$blue-chatham-4  : #4f80a4;
$blue-chatham-5  : #105b81;

$blue-sanmarino-1: #dde1f2;
$blue-sanmarino-2: #bcc5e5;
$blue-sanmarino-3: #98a8d6;
$blue-sanmarino-4: #728ec8;
$blue-sanmarino-5: #506eb4;

$blue-sapphire-1 : #d3d6ed;
$blue-sapphire-2 : #b1b1d9;
$blue-sapphire-3 : #8489c2;
$blue-sapphire-4 : #626aaf;
$blue-sapphire-5 : #304c9a;

$victoria-1      : #dedaee;
$victoria-2      : #bcb4da;
$victoria-3      : #9084be;
$victoria-4      : #7264a9;
$victoria-5      : #4b3c90;

$violet-1        : #ddd1e8;
$violet-2        : #bba2cd;
$violet-3        : #9272b1;
$violet-4        : #804996;
$violet-5        : #5a2580;

$bordeaux-1      : #e7d3d9;
$bordeaux-2      : #d1a7b3;
$bordeaux-3      : #bb798e;
$bordeaux-4      : #a84c6f;
$bordeaux-5      : #952356;

$cranberry-1     : #fbe6f0;
$cranberry-2     : #edc1d0;
$cranberry-3     : #e7aac1;
$cranberry-4     : #de7ea1;
$cranberry-5     : #d04981;

$pink-1          : #fce4e0;
$pink-2          : #f8c5c0;
$pink-3          : #f4a59f;
$pink-4          : #f08482;
$pink-5          : #e95160;

$brown-rust-1    : #eaded4;
$brown-rust-2    : #d8c1aa;
$brown-rust-3    : #b59573;
$brown-rust-4    : #a27457;
$brown-rust-5    : #935d33;

$brown-sienna-1  : #fdeadc;
$brown-sienna-2  : #f3d0b2;
$brown-sienna-3  : #e8b884;
$brown-sienna-4  : #dfa169;
$brown-sienna-5  : #d1853b;

$black           : #000000;
$white           : #ffffff;
$AFP-blue-dark   : #00649d;
$AFP-blue-light  : #148bcb;
$link-color      : $AFP-blue-light;

$carto-background        : #f3edea;
$carto-other-border      : #c5beb6;
$carto-border            : #c4bdb5;
$carto-other-country-text: #9a9188;
$carto-situ              : #eadbd4;
$carto-region            : #fce1ce;
$carto-region-border     : #e77b05;
$carto-sea               : #c1e0f2;
$carto-river             : #96cae5;
$carto-sea-text          : #53afd6;
$carto-forest            : #c0dec3;

$main_padding: 12px;
