body{
  background-color:  #849097;
}
.container{
  max-width: 645px;
  height: auto;
  border-top: 4px solid black;
  background-color: white;
  box-shadow: 0px 0px 15px 0px #525E65;
  @include rem(padding, 1.6rem 1.8rem 1.8rem);
  .chapo{
    @extend .brand-bold;
    margin-bottom: 13px;
    @include rem(letter-spacing, -.02rem);
    @include rem(font-size, 2.8rem);
  }
  .sub-chapo{
    @extend .brand-semi;
    margin-bottom: 12px;
    @include rem(letter-spacing, -.02rem);
    @include rem(font-size, 1.8rem);
  }
}

.filters-list{
  list-style-type: none;
  text-align: left;
  margin-bottom: 10px;
  .filters{
    @extend .brand-reg;
    display: inline-block;
    text-align: center;
    width: 49%;
    &:first-child{
      margin-right: 2%;
    }
    .filters-link{
      display: block;
      color: black;
      text-align: center;
      text-decoration: none;
      transition: all 200ms ease-in;
      border-radius: 4px;
      border: 1px solid white;
      white-space: nowrap;
      // width: 100px;
      height: 30px;
      @extend .brand-color;
      @include rem(font-size, 1.5rem);
      @include rem(line-height, 3rem);
      &:hover{
        /* text-decoration: underline; */
        color: black;
        border: 1px solid #b5bfc5;
      }
      &.active{
        background-color: #6DB7A8;
        color: white;
      }
    }
    span{
      padding-left: 20px;
      color: $light-grey;
      @include rem(font-size, 2.4rem);
    }
  }
}

.graph-datas{
  font-size: 0;
  .graph-rollover, .graph-sumup{
    // display: inline-block;
    float: left;
    width: 49%;
    min-height: 84px;
    box-sizing: border-box;
    @include rem(font-size, 1.5rem);
  }
  .graph-rollover{
    @extend .brand-reg;
    background-color: black;
    text-align: left;
    color: white;
    padding: 10px 13px 0;
    width: 142px;
    height: 84px;
    border-radius: $global-radius;
    .date{
      letter-spacing: -0.025em;
      @include rem(font-size, 1.5rem);
      @include rem(line-height, 2.4rem);
    }
    .big-number{
      @extend .brand-onum;
      display: block;
      letter-spacing: -0.025em;
      font-feature-settings:"onum" 1, "pnum" 1, "ss01" 1, "ss02" 1;
      @include rem(font-size, 2.4rem);
      @include rem(line-height, 1.6rem);
    }
    .cat-rollover{
      display: block;
      letter-spacing: -0.025em;
      @include rem(font-size, 1.3rem);
      @include rem(line-height, 2.8rem);
    }
  }
  .graph-sumup{
    @extend .brand-onum;
    color: black;
    padding-left: 18px;
    box-sizing: border-box;
    font-feature-settings:"onum" 1, "pnum" 1, "ss01" 1, "ss02" 1;
    @include rem(font-size, 2rem);
    @include rem(line-height, 2.8rem);
    span{
      @extend .brand-reg;
      display: block;
      @include rem(font-size, 1.2rem);
      @include rem(line-height, 1.2rem);
    }
  }
}

#graph{
  margin: 16px auto 12px;
  /* width: 284px; */
  width: 100%;
  height: 79px;
  svg{
    margin-left: -20px;
  }
  .mg-area1-color{
    /* fill: #9ACABE; */
    fill: white;
  }
  .mg-line1-color{
    stroke: #6DB7A8;
    stroke-width: 4;
  }
  .mg-line-rollover-circle{
    fill: white;
    stroke: black;
    stroke-width: 3;
    opacity: 1 !important;
  }
  .mg-x-axis{
    transform: translate(0, -10px);
    line[y1="90"]{
      stroke: black;
    }
    [text-anchor="middle"]{
      display: none;
    }
    &:first-child{
      /* stroke-width: 3px; */
    }
  }
}
.cat{
  @extend .u-cf;
  margin-top: 24px;
  margin-bottom: 24px;
  .cat__child{
    margin: 0;
    padding: 0;
    position: relative;
    &:after{
      @extend .brand-icons;
      content:"\25BE";
      font-size:18px;
      color:black;
      right:18px; top:10px;
      position:absolute;
      pointer-events:none;
    }
    &:before{
      content:'';
      right:6px; top:0px;
      width:20px; height:20px;
      // background:#f8f8f8;
      position:absolute;
      pointer-events:none;
      display:block;
    }
  }
}

#categories{
  border-color: #B6C0C6;
  padding: 10px 18px 8px 22px;
  height: 48px;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.infos{
  @extend .brand-it;
  font-style:   italic;
  @include rem(font-size, 1.3rem);
}

.footer{
  margin-bottom: 18px;
  .click-info{
    color: black;
    text-decoration: none;
  }
  .button-click{
    color: $primary-color;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}

.afp-pane{
  @extend .u-full-width;
  display: block;
  opacity: 1;
  position: absolute;
  top:-1000px;
  left:0;
  background-color: white;
  // height: 100%;
  margin: 0;
  padding: 18px 16px;
  hr{
    margin: 16px 0;
    padding:0;
    width: 100%;
    height: 1px;
    border: none;
    border-top: 1px solid #B6C0C6;
  }
  .info-title{
    @extend .brand-semi;
    color: black;
    @include rem(font-size, 1.8rem);
  }
  .info-text{
    @extend .brand-reg;
    color: black;
    @include rem(font-size, 1.5rem);
  }
  .list-title{
    @extend .brand-semi;
    color: black;
    margin-bottom: 9px;
    @include rem(font-size, 1.5rem);
  }
  .sources-list{
    list-style-type: disc;
    list-style-position: inside;
  }
  .sources-list-item{
    @extend .brand-reg;
    color: black;
    @include rem(font-size, 1.5rem);
  }
  .update-date{
    @extend .brand-reg;
    color: black;
    @include rem(font-size, 1.5rem);
    span{
      @extend .brand-semi;
      color: black;
      @include rem(font-size, 1.5rem);
    }
  }
  .click-close{
    color: black;
    text-decoration: none;
    .button-click{
      color: $primary-color;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
