$custom : $cranberry-5;
.discret:hover {
	background-color: $custom;
	border-color: $custom;
}
.discret.active {
	background-color: $custom;
	border-color: $custom;
	text-shadow: 0px -1px darken($custom, 10%);
}

.container {
	background-color: #f6f2f0;
}



// Styles relatifs au module de présentation
// import from former _index.scss

.grid-example{
  .column, .columns{
    background-color: $light-grey;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    text-align: center;
  }
}

// end of import
.cat {
	color: black;
	font-family: $brand-bold;
	text-transform: uppercase;
  @include rem(font-size, 1.2rem);
	@include rem(line-height, 1.2rem);
}


.cat-info {
	margin-bottom: 1.6em;
}

.cat-note {
	color: $grey-cold-5;
	@include rem(font-size, 1.2rem);
}

.cat-note-classname {
	background-color: $grey-cold-1;
	border-radius: 10px;
	padding: 0px 12px;
	margin-right: 12px;
	display:inline-block;
	color: $grey-cold-6;
	@include rem(font-size, 1.2rem);

}

// Mixins

@mixin tint($color) {
	background-color: $color;
	text-shadow : 0px -1px darken($color, 10%);
	border: 1px solid $color;
	&:hover {
		background-color: lighten($color, 2%);
	}
	&:active {
		background-color: darken($color, 5%);
	}
}


// Styles pour les modules AFP


// Titres

h2 {
	@extend .brand-semi;
	@include rem(font-size, 1.8rem);
	@include rem(line-height, 1.8rem);
}


h3 {
	@extend .brand-semi;
	@include rem(font-size, 1.5rem);
	@include rem(line-height, 1.8rem);
}


// Paragraphes

.large{
	@include rem(font-size, 1.5rem);
	@include rem(line-height, 2.4rem);
}

.compact{
	@include rem(font-size, 1.5rem);
	@include rem(line-height, 1.8rem);
}

.small{
	@include rem(font-size, 1.3rem);
	@include rem(line-height, 1.8rem);
}

.help{
	@extend .brand-it;
	color: $grey-cold-4;
	@include rem(font-size, 1.2rem);
	@include rem(line-height, 1.5rem);
	font-style: italic;
}


// Liens
//!\ re-définit la balise 'a' globalement /!\
a {
	color: $link-color;
	text-decoration: none;
	&:hover {
    color: lighten($link-color, 10%);
    text-decoration: underline;
  }
}


// Onglets
.tab{
	list-style-type: none;
  margin: 0;
  padding: 0;
	li {
		padding:12px 16px 0px 16px;
		list-style-type : none;
		background-color: $panel-grey-2;
		display: inline-block;
		.tab-link {
			color:$panel-grey-3;
			text-shadow : 0px 1px rgba($panel-grey-1,0.4);
			&:hover {
				transition: 0.15s;
				color : $panel-grey-1;
				text-decoration: none;
				text-shadow : 0px -1px rgba($panel-grey-3,0.4);
			}
			&:after {
				content: "";
				display: block;
				margin: 0 auto; width: 0;
				border: 6px solid $panel-grey-1;
				border-color: transparent transparent transparent transparent;
			}
		}
		.tab-active {
			color : $white ;
			text-shadow : 0px -1px rgba($panel-grey-3,0.4);
			&:hover {
				text-decoration: none;
			}
			&:after {
				content: "";
				display: block;
				margin: 0 auto; width: 0;
				border: 6px solid $panel-grey-1;
				border-color: transparent transparent $panel-grey-1 transparent;
			}
		}
	}
}


// slider

.slider{
	@extend .brand-icons;
	color : $grey-cold-4;
  font-size: 24px;
  text-align: center;
}

.slider-arrow-left{
	cursor: pointer;
	float: left;
	&:hover {
    	color : $grey-cold-5;
    }
}
.slider-arrow-right{
	cursor: pointer;
	float: right;
	&:hover {
    	color : $grey-cold-5;
    }
}

.points-container{
	display: inline-block;
	width: 16px;
  height: 16px;
}

.point{
	transform-origin: 50% 50%;
	position: relative;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: $grey-cold-2;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  &:hover {
  	transform: scale(1.2);
  	background-color: $grey-cold-3;
  }
}

.point-active {
	transform: scale(1.4);
  background-color: $grey-cold-5;
  &:hover {
  	transform: scale(1.4);
  	background-color: $grey-cold-5;
  }
}
