/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

/*
* Modified by AFP Graphics Team
*/

/* import fonts css */

@import "normalize";
@import "fonts-brand";
@import "ui-icons";
@import "mixins/_mixins";
@import "ui-colors";

// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––
// Breakpoints
$bp-larger-than-mobile: "min-width: 400px" !default;
$bp-larger-than-phablet: "min-width: 560px" !default;
$bp-larger-than-tablet: "min-width: 750px" !default;
$bp-larger-than-desktop: "min-width: 1000px" !default;
$bp-larger-than-desktophd: "min-width: 1200px" !default;
// Colors
$light-grey: $grey-cold-2 !default;
$dark-grey: $grey-cold-3 !default;
$primary-color: $AFP-blue-dark !default;
$secondary-color: $AFP-blue-light !default;
$border-color: $grey-cold-3 !default;
$link-color: $AFP-blue-light !default;
$font-color: $grey-cold-5 !default;
// Typography
$brand-reg: "Source Sans Pro",
sans-serif !default;
// $brand-bold: "Source Sans Pro Bold",
// sans-serif !default;
$brand-semi: "Source Sans Pro Semibold",
sans-serif !default;
$brand-it: "Source Sans Pro Italic",
sans-serif !default;
$brand-li: "Source Sans Pro Light",
sans-serif !default;
$brand-mono: "Roboto Mono",
monospace !default;
$brand-icons: 'ui_essential72regular' !default;
//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns
// Misc
$global-radius: 4px !default;
// Functions
@function grid-column-width($n) {
    @return $column-width * $n - ($column-margin*($total-columns - $n)/$total-columns);
}

@function grid-offset-length($n) {
    @return grid-column-width($n) + $column-margin;
}


//flex-container

// @import "flexboxgrid";


// Grid
//––––––––––––––––––––––––––––––––––––––––––––––––––
// .container {
//     position: relative;
//     width: 100%;
//     // max-width: $container-width;
//     margin: 0 auto;
//     padding: 0 20px;
//     box-sizing: border-box;
// }

// .column,
// .columns {
//     width: 100%;
//     float: left;
//     box-sizing: border-box;
// }

// // For devices larger than 400px
// @media (#{$bp-larger-than-mobile}) {
//     .container {
//         // width: $container-width-larger-than-mobile;
//         padding: 0;
//     }
// }

// // For devices larger than 550px
// @media (#{$bp-larger-than-phablet}) {
//     .container {
//         // width: $container-width-larger-than-phablet;
//     }
//     .column,
//     .columns {
//         margin-left: $column-margin;
//     }
//     .column:first-child,
//     .columns:first-child {
//         margin-left: 0;
//     }
//     .one.column,
//     .one.columns {
//         width: grid-column-width(1);
//     }
//     .two.columns {
//         width: grid-column-width(2);
//     }
//     .three.columns {
//         width: grid-column-width(3);
//     }
//     .four.columns {
//         width: grid-column-width(4);
//     }
//     .five.columns {
//         width: grid-column-width(5);
//     }
//     .six.columns {
//         width: grid-column-width(6);
//     }
//     .seven.columns {
//         width: grid-column-width(7);
//     }
//     .eight.columns {
//         width: grid-column-width(8);
//     }
//     .nine.columns {
//         width: grid-column-width(9);
//     }
//     .ten.columns {
//         width: grid-column-width(10);
//     }
//     .eleven.columns {
//         width: grid-column-width(11);
//     }
//     .twelve.columns {
//         width: 100%;
//         margin-left: 0;
//     }
//     .one-third.column {
//         width: grid-column-width(4);
//     }
//     .two-thirds.column {
//         width: grid-column-width(8);
//     }
//     .one-half.column {
//         width: grid-column-width(6);
//     }
//     // Offsets
//     .offset-by-one.column,
//     .offset-by-one.columns {
//         margin-left: grid-offset-length(1);
//     }
//     .offset-by-two.column,
//     .offset-by-two.columns {
//         margin-left: grid-offset-length(2);
//     }
//     .offset-by-three.column,
//     .offset-by-three.columns {
//         margin-left: grid-offset-length(3);
//     }
//     .offset-by-four.column,
//     .offset-by-four.columns {
//         margin-left: grid-offset-length(4);
//     }
//     .offset-by-five.column,
//     .offset-by-five.columns {
//         margin-left: grid-offset-length(5);
//     }
//     .offset-by-six.column,
//     .offset-by-six.columns {
//         margin-left: grid-offset-length(6);
//     }
//     .offset-by-seven.column,
//     .offset-by-seven.columns {
//         margin-left: grid-offset-length(7);
//     }
//     .offset-by-eight.column,
//     .offset-by-eight.columns {
//         margin-left: grid-offset-length(8);
//     }
//     .offset-by-nine.column,
//     .offset-by-nine.columns {
//         margin-left: grid-offset-length(9);
//     }
//     .offset-by-ten.column,
//     .offset-by-ten.columns {
//         margin-left: grid-offset-length(10);
//     }
//     .offset-by-eleven.column,
//     .offset-by-eleven.columns {
//         margin-left: grid-offset-length(11);
//     }
//     .offset-by-one-third.column,
//     .offset-by-one-third.columns {
//         margin-left: grid-offset-length(4);
//     }
//     .offset-by-two-thirds.column,
//     .offset-by-two-thirds.columns {
//         margin-left: grid-offset-length(8);
//     }
//     .offset-by-one-half.column,
//     .offset-by-one-half.column {
//         margin-left: grid-offset-length(6);
//     }
// }

.demi {
    width: 50%;
}
.hidden {
    display: none;
}

// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)
html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
    line-height: 1.6;
    font-weight: 400;
    font-family: $brand-reg;
    color: $font-color;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;

}

// Polices
//––––––––––––––––––––––––––––––––––––––––––––––––––
.brand-reg {
    font-family: $brand-reg;
}

.brand-semi {
    font-family: $brand-semi;
}

.brand-mono {
    font-family: $brand-mono;
}

.brand-it {
    font-family: $brand-it;
}

.brand-li {
    font-family: $brand-li;
}

.brand-icons {
    font-family: $brand-icons;
}

.brand-color {
    color: $primary-color;
}

// Titles
//––––––––––––––––––––––––––––––––––––––––––––––––––
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

h1 {
    font-size: 2.3rem;
    line-height: 1.05;
    letter-spacing: -.025rem;
}

h1.cover {
    font-size: 3.0rem;
    line-height: 1.05;
}

h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: -.025rem;
    font-family: $brand-semi;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.8;
    letter-spacing: -.025rem;
    font-family: $brand-semi;
}

h4 {
    font-size: 1.6rem;
    line-height: 1.05;
    letter-spacing: -.025rem;
}

h5 {
    font-size: 1.5rem;
    line-height: 1.05;
    letter-spacing: -.025rem;
}

h6 {
    font-size: 1.3rem;
    line-height: 1.05;
    letter-spacing: 0;
}

// Paragraphes
//––––––––––––––––––––––––––––––––––––––––––––––––––
.large {
    @include rem(font-size, 1.5rem);
    @include rem(line-height, 2.4rem);
}

.compact {
    @include rem(font-size, 1.5rem);
    @include rem(line-height, 1.8rem);
}

.small {
    @include rem(font-size, 1.3rem);
    @include rem(line-height, 1.8rem);
}

.help {
    @extend .brand-it;
    color: $grey-warm-4;
    @include rem(font-size, 1.1rem);
    @include rem(line-height, 1.5rem);
    font-style: italic;
}


sub,sup{
    font-size: 50%;
    top: -0.7rem;
}


// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––
a {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: darken($link-color, 5%);
        text-decoration: underline;
    }
}

// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––
.button,
button {
    box-sizing: border-box;
    display: inline-block;
    width: auto;
    height: 36px;
    padding: 0 16px;
    margin-right: 12px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -.025rem;
    // white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    border-radius: $global-radius;
    border: 1px solid $grey-cold-3;
    box-shadow: 0px 0px 4px $grey-cold-4;
    color: $font-color;
    background-color: $white;
    transition: transform 0.3s,box-shadow 0.3s;

    &:active {
        transform: translateY(1px);
        background: linear-gradient(to bottom, rgba($grey-cold-6, 0.1) 0%, rgba($grey-cold-6, 0) 25%, rgba($grey-cold-6, 0) 100%), lighten($primary-color, 2%);
        box-shadow: 0px 0px 0px $grey-cold-4;
        color: $white;
        border: 1px solid $primary-color;

    }
    &:focus {
        outline: 0;
    }
    &.lg {
        height: 48px;
        line-height: 23px;
        padding: 0 18px;
    }
    &::before {
        // padding-right: 4px;
    }
    &.discret {
        color: $grey-warm-4;
        text-shadow: 0px -1px $white;
        background-color: transparent;
        border: 1px solid $grey-warm-2;
        box-shadow: none;
    }
    &:hover {
        color: $white;
        background-color: lighten($primary-color, 2%);
        text-shadow: 0px -1px rgba($black, 0.3);
        border: 1px solid $primary-color;
    }
    &.active {
        transform: translateY(1px);
        background-color: $primary-color;
        color: $white;
        border: 1px solid $primary-color;
        text-shadow: 0px -1px rgba($black, 0.3);
    }
    &.system {
        color: $grey-cold-6;
        background-color: transparent;
        box-shadow: none;
        border: 1px solid transparent;
        transition: background-color 0.3s, color 0.3s;
        text-shadow: none;
        &:active {
          color: $link-color;
            border: 1px solid lighten($link-color, 10%);
            background-color: $white;
        }
        &.active {
            color: $link-color;
            background-color: transparent;
            border: 1px solid transparent;
            &:active {
              border: 1px solid $link-color;
              background-color: $white;
            }
        }
        &:hover {
            color: $link-color;
            border: 1px solid lighten($link-color, 10%);
            background-color: $white;

        }
    }
}


// Liste de boutons critères éditorialisés
//––––––––––––––––––––––––––––––––––––––––––––––––––
.list {
    list-style: none;
    li,a {
        color : $font-color;
        line-height: 1.5rem;
        padding: 15px;
        display: block;
        border-left: 0px solid $white;
        border-top : 1px solid $grey-warm-1;
        cursor: pointer;
        transition: border-left 0.2s;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        &:hover{
            text-decoration: none;
            background-color: rgba($white, 0.5);
        }
        &.active{
            background-color: $white;
            border-left : 10px solid $violet-2;
            &:hover{
                background-color: $white;
            }
        }
    }
    &.light {
        padding-left: 10px;
        margin: 0px;
        list-style: none;
        li,a {
            margin: 0;
            width: 100%;
            padding: 1.2rem 0.8rem ;
            font-family: $brand-mono;
            font-size: 1.0rem;
            text-transform: uppercase;
            text-decoration: none;
            border: none;
            &:hover, &:focus {
                background: rgba($white,0.3);
                color: black;
                cursor: pointer;
            }
            &.active {
                background: rgba($white,1);
            }
        }
    }

}


// classes d'apparition d'animation
//––––––––––––––––––––––––––––––––––––––––––––––––––

$speed-factor: 0.25;
$global-timing: 1 * $speed-factor;
$global-animation-duration : 1 * $speed-factor;


.delay-1 {
    animation-delay: 0.25s * $global-timing;
}

.delay-1 {
    animation-delay: 1s * $global-timing;
}

.delay-2 {
    animation-delay: 2s * $global-timing;
}

.delay-3 {
    animation-delay: 3s * $global-timing;
}

.delay-4 {
    animation-delay: 4s * $global-timing;
}

.delay-5 {
    animation-delay: 5s * $global-timing;
}

.delay-6 {
    animation-delay: 6s * $global-timing;
}

.fadein {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1s * $global-animation-duration;
    animation-iteration-count : 1;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

   to {
        opacity: 1;
    }
}

.slideleft {
    transform: translateX(-48px);
    animation-fill-mode: forwards;
    animation-duration: 1s * $global-animation-duration;
    animation-iteration-count : 1;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-name: slideleft;
}

@keyframes slideleft {
    from {
        transform: translateX(-48px);
    }

   to {
        transform: translateX(-0px);
    }
}

.slideleft.fadein {
    opacity: 0;
    transform: translateX(-48px);
    animation-fill-mode: forwards;
    animation-duration: 1s * $global-animation-duration;
    animation-iteration-count : 1;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-name: slideleftfadein;
}

@keyframes slideleftfadein {
    from {
        opacity: 0;
        transform: translateX(-48px);

    }

   to {
        opacity: 1;
        transform: translateX(0px);
    }
}


// Style guide
//––––––––––––––––––––––––––––––––––––––––––––––––––

input {
    &[type="submit"],
    &[type="reset"],
    &[type="button"] {
        display: inline-block;
        height: 38px;
        padding: 0 30px;
        color: $secondary-color;
        text-align: center;
        font-size: 11px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: .1rem;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border-radius: $global-radius;
        border: 1px solid $border-color;
        cursor: pointer;
        box-sizing: border-box;
    }
}

input {
    &[type="submit"]:hover,
    &[type="reset"]:hover,
    &[type="button"]:hover {
        color: $dark-grey;
        border-color: lighten($dark-grey, 33.3%);
        outline: 0;
    }
}

input {
    &[type="submit"]:focus,
    &[type="reset"]:focus,
    &[type="button"]:focus {
        color: $dark-grey;
        border-color: lighten($dark-grey, 33.3%);
        outline: 0;
    }
}

input {
    &[type="submit"].button-primary:focus,
    &[type="reset"].button-primary:focus,
    &[type="button"].button-primary:focus {
        color: $white;
        background-color: $link-color;
        border-color: $link-color;
    }
    &[type="email"],
    &[type="number"],
    &[type="search"],
    &[type="text"],
    &[type="tel"],
    &[type="url"],
    &[type="password"] {
        height: 38px;
        padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
        background-color: $white;
        border: 1px solid lighten($border-color, 8.8%);
        border-radius: $global-radius;
        box-shadow: none;
        box-sizing: border-box;
    }
}

// Tabs
//––––––––––––––––––––––––––––––––––––––––––––––––––
ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        padding: 12px 16px 0px 16px;
        background-color: #d3cdcb;
        display: inline-block;
        a {
            color: #88888a;
            text-shadow: 0px 1px rgba(246, 242, 240, 0.4);
            &::after {
                content: "";
                display: block;
                margin: 0 auto;
                width: 0;
                border: 6px solid #f6f2f0;
                border-color: transparent transparent transparent transparent;
            }
        }
        a.active {
            color: #ffffff;
            text-shadow: 0px -1px rgba(136, 136, 138, 0.4);
            &::after {
                content: "";
                display: block;
                margin: 0 auto;
                width: 0;
                border: 6px solid #f6f2f0;
                border-color: transparent transparent #f6f2f0 transparent;
            }
        }
    }
}

// FLEX
//––––––––––––––––––––––––––––––––––––––––––––––––––

.flex {
    display: flex;
    &.row {
        flex-direction: row;
    }
    &.row-reverse {
        flex-direction: row-reverse;
    }
    &.column {
        flex-direction: column;
    }
    &.column-reverse {
        flex-direction: column-reverse;
    }
}


// Slider
//––––––––––––––––––––––––––––––––––––––––––––––––––
.slider {
    @extend .brand-icons;
    color: $grey-cold-4;
    font-size: 24px;
    text-align: center;
    .arrow-left {
        cursor: pointer;
        float: left;
        &:hover {
            color: $grey-cold-5;
        }
    }
    .arrow-right {
        cursor: pointer;
        float: right;
        &:hover {
            color: $grey-cold-5;
        }
    }
    .points-container {
        .point-container {
            display: inline-block;
            width: 16px;
            height: 16px;
            .point {
                transform-origin: 50% 50%;
                position: relative;
                top: 4px;
                left: 4px;
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background-color: $grey-cold-2;
                cursor: pointer;
                transition: all 150ms ease-in-out;
                &:hover {
                    transform: scale(1.2);
                    background-color: $grey-cold-3;
                }
                &.active {
                    transform: scale(1.4);
                    background-color: $grey-cold-5;
                    &:hover {
                        transform: scale(1.4);
                        background-color: $grey-cold-5;
                    }
                }
            }
        }
    }
}

// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––
textarea,
select {
    height: 38px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: $white;
    border: 1px solid lighten($border-color, 8.8%);
    border-radius: $global-radius;
    box-shadow: none;
    box-sizing: border-box;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
}
select.lg {
    height: 48px;
}

// Removes awkward default styles on some inputs for iOS
input {
    &[type="email"],
    &[type="number"],
    &[type="search"],
    &[type="text"],
    &[type="tel"],
    &[type="url"],
    &[type="password"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input {
    &[type="email"]:focus,
    &[type="number"]:focus,
    &[type="search"]:focus,
    &[type="text"]:focus,
    &[type="tel"]:focus,
    &[type="url"]:focus,
    &[type="password"]:focus {
        border: 1px solid $primary-color;
        outline: 0;
    }
}

textarea:focus,
select:focus {
    border: 1px solid $primary-color;
    outline: 0;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input {
    &[type="checkbox"],
    &[type="radio"] {
        display: inline;
    }
}

label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}

// Lists
//––––––––––––––––––––––––––––––––––––––––––––––––––
ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
    padding-left: 0;
    margin-top: 0;
}

ul {
    padding-left: 0;
    margin-top: 0;
    ul,
    ol {
        margin: 1.5rem 0 1.5rem 3rem;
        font-size: 90%;
    }
}

ol {
    ol,
    ul {
        margin: 1.5rem 0 1.5rem 3rem;
        font-size: 90%;
    }
}

li {
    margin-bottom: 1rem;
}

// Code
//––––––––––––––––––––––––––––––––––––––––––––––––––
code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: lighten($light-grey, 6.4%);
    border: 1px solid $light-grey;
    border-radius: $global-radius;
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––
th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid $light-grey;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

// Spacing
//––––––––––––––––––––––––––––––––––––––––––––––––––
button,
.button {
    margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}

// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––
.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid $light-grey;
}

// Clearing
//––––––––––––––––––––––––––––––––––––––––––––––––––
// Self Clearing Goodness
.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}

// Media Queries
//––––––––––––––––––––––––––––––––––––––––––––––––––
// Note: The best way to structure the use of media queries is to create the queries
// near the relevant code. For example, if you wanted to change the styles for buttons
// on small devices, paste the mobile query code up in the buttons section and style it
// there.
// Larger than mobile
@media (#{$bp-larger-than-mobile}) {}

// Larger than phablet (also point when grid becomes active)
@media (#{$bp-larger-than-phablet}) {}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {}

// Larger than desktop
@media (#{$bp-larger-than-desktop}) {}

// Larger than Desktop HD
@media (#{$bp-larger-than-desktophd}) {}

// Style guide
//––––––––––––––––––––––––––––––––––––––––––––––––––
.style-title {
    color: black;
    font-family: $brand-semi;
    text-transform: uppercase;
}

.style-info {
    margin-bottom: 1.6em;
}

.style-note {
    color: $grey-cold-5;
    @include rem(font-size, 1.2rem);
}

.style-note-classname {
    background-color: $grey-cold-1;
    border-radius: 10px;
    padding: 0px 12px;
    margin-right: 12px;
    display: inline-block;
    color: $grey-cold-6;
    @include rem(font-size, 1.2rem);
}




// Adding custom css
//––––
@import "pages/panes";
@import "pages/index";
@import "pages/breakpoints";
